body{
    background-color: aliceblue;
}
.heading{
    color: #000;
    background-color: rgba(124, 225, 239, 0.6);
    margin: 0 auto;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 50%;
    
}
.session-head{
    color: rgb(178, 9, 9);
    border: 2px solid rgb(106, 27, 27);
    border-radius: 10px;
    width: 70%;
    height: 80px;
   margin: 2% auto;
   display: flex;
   justify-content: center;
}
.timer{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    margin: 0 auto;
    
    background-color:antiquewhite;
}
.digit{
    margin: auto auto;
    color: rgb(198, 17, 17);
}
#start{
    width: 10%;
    height: 2rem;
    border: 0;
    color: #fff;
    background-color: #088178;
    border-radius: 25px;
    margin: 2%;
}
#stop{
    width: 10%;
    height: 2rem;
    border: 0;
    color: #fff;
    background-color: rgb(182, 29, 29);
    border-radius: 25px;
    margin: 2%;
}
.Btn{
    display: flex;
    justify-content: center;
    margin: 2%;
}
#todo{
    text-align: center;
    color: rgb(91, 42, 165);
}